@tailwind base;
@tailwind components;
@tailwind utilities;


*{
   font-family: "Poppins", sans-serif !important;
}

/* ant table css */
:where(.css-dev-only-do-not-override-1kf000u).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0px !important;
}
:where(.css-dev-only-do-not-override-1kf000u).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 0px !important;
}

:where(.css-1kf000u).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 1px !important;
}
:where(.css-1kf000u).ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 1px !important;
}
